@model FinancialAssets.WebApp.Models.FullReport

@{
    ViewData["Title"] = "Assets";
}

<p>
    <div class="col text-md-start pt-1">
        @Html.DisplayNameFor(model => model.TotalSpent): @Model.TotalSpent
    </div>
    <div class="col text-md-start pt-1">
        @Html.DisplayNameFor(model => model.TotalSoldOn): @Model.TotalSoldOn
    </div>
    <div class="col text-md-start pt-1">
        @Html.DisplayNameFor(model => model.ProfitPercent): @Model.ProfitPercent
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().AvgPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().ProfitPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().Spent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assets.First().SoldOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model.Assets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => asset.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.AvgPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.ProfitPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.Spent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => asset.SoldOn)
                </td>
            </tr>
        }
    </tbody>
</table>

