@model FinancialAssets.WebApp.Models.FullReport

@{
    ViewData["Title"] = "Report";
}

<p>
    <div class="col text-md-center pt-1">
        <a asp-action="GetReport" class="btn btn-outline-dark">Сформировать отчет</a>
    </div>
</p>

@if (Model != null)
{
    <p>
        <div class="col text-md-start pt-1">
            @Html.DisplayNameFor(model => model.TotalSpent): @Model.TotalSpent
        </div>
        <div class="col text-md-start pt-1">
            @Html.DisplayNameFor(model => model.TotalSoldOn): @Model.TotalSoldOn
        </div>
        <div class="col text-md-start pt-1">
            @Html.DisplayNameFor(model => model.ProfitPercent): @Model.ProfitPercent%
        </div>
        <div class="col text-md-start pt-1">
            @Html.DisplayNameFor(model => model.AbsoluteProfit): @Model.AbsoluteProfit$
        </div>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().AvgPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().ProfitPercent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().AbsoluteProfit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().Spent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assets.First().SoldOn)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in Model.Assets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => asset.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.AvgPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.CurrentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.ProfitPercent)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.AbsoluteProfit)$
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.Spent)$
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => asset.SoldOn)$
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
